.DS_Store
mixin*/demo/
mixin*/logs/
mixin*/target/
mixin*/configuration/
mixin*/src/main/js/build/
mixin*/src/main/js/logs/
mixin*/src/main/js/js-ext/
mixin*/src/main/js/js-gen/
mixin*/src/main/js/node_modules/
mixin*/src/main/js/package-lock.json
mixin*/src/main/python/**/demo/**
mixin*/src/main/resources/build/
mixin*/src/main/resources/logs/
mixin*/src/main/resources/js-ext/
mixin*/src/main/resources/js-gen/
mixin*/src/main/resources/node_modules/
mixin*/src/main/resources/package-lock.json
mixin*/src/test/demo
mixin*/src/test/resources/.js
mixin*/src/test/resources/logs/
mixin*/src/test/resources/build/
mixin*/src/test/resources/js-gen/
mixin*/src/test/resources/node_modules/
mixin*/src/test/resources/package-lock.json
mixin*/derby.log
mixin*/**/__pycache__/
/demo/
/configuration/
/languageServers-log/
/.metadata/
/.recommenders/
.env

